@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Poppins', sans-serif; */

body {
  margin: 0;
  padding: 0%;
  background-color: #1a1b1f;
  color: white;
  font-family: 'Poppins', sans-serif;
}

img, label{
  display: block;
}

button{
  background-color: transparent;
  border: 0;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.logo{
  width: 220px;
  height: 100px;
  overflow: hidden;
  background-image: url('../public/assets/img/logo.png');
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

label{
  font-size: 13px;
  font-weight: 300;
}

.main input{
  background-color: transparent;
  border: 1px solid #cccccc94;
  width: 350px;
  height: 30px;
  border-radius: 8px;
  margin: 5px 0 10px;
  color: white;
  padding: 5px 10px;
  display: block;
}

.main .password{
  position: relative;
}

.password input{
  padding-right: 30px;
    width: 330px;
}

.main .password .icon{
    position: absolute;
    right: 5px;
    bottom: 10px;
    color: #cccccc94;
    height: 23px;
    width: 23px;
    font-size: 23px;
    padding: 0;
}

.main .rememberme{
  display: flex;
  align-items: center;
  gap: 5px;
}

.main .rememberme input{
  background-color: black;
  width: 15px;
  height: 15px;
  cursor: pointer;
  color: black;
}

.main .login-btn{
  background-color: #cd2721;
  color: white;
  text-align: center;
  width: 100%;
  border: 0;
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
}

.main .icon{
  height: 15px; 
  vertical-align: middle;
  padding-left: 5px;
}

.error{
  max-width: 350px;
  font-size: 12px;
  color: #cd2721;
  margin: 0;
  margin-bottom: 10px;
}


@media only screen and (max-width: 400px) {
    form{
      padding: 0 15px;
    }

    .main{
      display: f;
    }

    .main input{
      width: 300px;
    }

    .password input{
        width: 280px;
    }
  }

